include _config.pug

head
	base(href="./assets/")
	title=config.title
	meta(charset='utf-8')
	meta(name='author', content=config.author)
	meta(name='description', content=config.description)
	meta(name='keywords', content=config.keywords)
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	
